grid-columns: 4

button:
  # Space around the button
  padding-x: 20
  padding-y: 20
  # Size of the button
  width: 100
  height: 100
  # Color of the button in hex format
  color: "#000000"
  background-color: "#ffffff"
