grid_columns: 4
background_color: "#ffffff"

button:
  # Space around the button
  padding_x: 20
  padding_y: 20
  # Size of the button
  width: 100
  height: 100
  # Color of the button in hex format
  color: "#000000"
  background_color: "#ffffff"
